@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.list figure {
    width: 500px;
    height: 500px;
    margin: 30px;
    border: 1px solid #333;
    overflow: hidden;
}

.list figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
}

.list figure:first-child:hover img {
    transform: translate(50px, 100px);
}

.list figure:nth-child(2):hover img {
    transform: translateX(100px);
}

.list figure:last-child:hover img {
    transform: translateY(100px);
}