@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box figure {
    width: 500px;
    height: 500px;
    border: 1px solid #333;
    margin: 30px;
    overflow: hidden;
}

.box figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 2s;
}

.box figure:first-child:hover img {
    transform: rotate(-45deg);
}

.box figure:nth-child(2):hover img {
    transform: rotateX(180deg);
}

.box figure:nth-child(3):hover img {
    transform: rotateY(180deg);
}

.box figure:last-child:hover img {
    transform: rotate(1800deg) translateX(200px) translateY(200px) scale(0.01);
}