@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit
}

li {
    list-style: none;
}

body {
    line-height: 1;
    color: #333;
}

.header01 {
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: relative;
}

.header01::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #eee;
}

.header01 .inner {
    width: 1280px;
    margin: 0 auto;
}

.header01 .inner .hd_top {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header01 .inner .hd_top h1 {
    order: 1;
}

.header01 .inner .hd_top h1 a img {
    height: 80px;
}

.header01 .inner .hd_top .util {
    order: 2;
}

.header01 .inner .hd_top ul li {
    display: inline-block;
}

.header01 .inner nav {
    height: 40px;
    text-align: center;
}

.header01 .inner nav::before {
    content: "";
    width: 100%;
    height: 300px;
    background-color: #111;
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
}

.header01 .inner nav .gnb .depth01 {
    position: relative;
    display: inline-block;
    padding: 0 30px;
}

.header01 .inner nav .gnb .depth01 > a {
    line-height: 40px;
}

.header01 .inner nav .gnb .depth01 .depth02 {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: none;
    color: #fff;
}

.header01 .inner nav:hover::before,
.header01 .inner nav:hover .gnb .depth01 .depth02 { /* hover시에는 선택자를 모두 적어줘야 적용됨. */
    display: block;
}

.header01 .inner nav .gnb .depth01 .depth02 li {
    padding: 15px 0;
}