@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    color: #333;
}

#wrap {
    max-width: 640px;
    margin: 0 auto;
}

.inner{
    width: calc(100% - 30px);
    margin: 0 auto;
}

.title {
    margin-bottom: 20px;
}

.title p {
    font-size: 14px;
}

.title h3 {
    font-size: 22px;
}

.header {
    height: 70px;
}

.header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_visual {
    position: relative;
    height: calc(100vh - 70px);
}

.main_visual figure {
    position: relative;
    width: 100%;
    height: 100%;
}

.main_visual figure::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    display: block;
}

.main_visual figure img {
    width: 100%;
    height: 100%;object-fit: cover;
}

.main_visual div {
    width: 100%;
    padding: 0 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 1;
}

.main_visual div h2 {
    font-size: 25px;
    margin-bottom: 30px;
}

.main_visual div p {
    line-height: 1.2;
}

.cont01 {
    margin: 60px 0;
}

.cont01 .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cont01 .list .item {
    width: calc(100% / 2 - 7px);
    margin-bottom: 20px;
}

.cont01 .list .item figure {
    width: 100%;
    height: 172px;
    border-radius: 10px;
    overflow: hidden;
}

.cont01 .list .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont01 .list .item div {
    margin-top: 10px;
}

.cont01 .list .item div p {
    font-size: 13px;
    margin-top: 5px;
}

.cont02 {
    margin-bottom: 60px;
}

.cont02 .item {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #c7c7c7;
}

.cont02 .item figure {
    width: 100%;
    height: 160px;
    overflow: hidden;
}

.cont02 .item figure img {
    width: 100%;
    transform: translateY(-35%);
}

.cont02 .item .info {
    width: 100%;
    height: 97px;
    background-color: #fff;
    padding: 15px;
}

.cont02 .item .info h4 {
    margin-top: 5px;
    margin-bottom: 14px;
}

.cont02 .item .info div {
    display: flex;
    align-items: center;
}

.cont02 .item .info div span {
    font-size: 12px;
    margin-left: 5px;
}

.cont03 {
    margin-bottom: 60px;
}

.cont03 .title {
    text-align: center;
}

.cont03 .slide_wrap {
    position: relative;
    height: 279px;
}

.cont03 .swiper {
    position: static;
}

.cont03 .swiper-slide {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #c7c7c7;
}

.cont03 .swiper-slide a {
    width: 281px;
}

.cont03 .swiper-slide figure {
    width: 100%;
    height: 160px;
    overflow: hidden;
}

.cont03 .swiper-slide figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont03 .swiper-slide .info {
    width: 100%;
    height: 97px;
    background-color: #fff;
    padding: 15px;
}

.cont03 .swiper-slide .info p {
    font-size: 13px;
}

.cont03 .swiper-slide .info h4 {
    margin-top: 5px;
    margin-bottom: 14px;
}

.cont03 .swiper-slide .info div {
    display: flex;
    align-items: center;
}

.cont03 .swiper-slide .info div span {
    font-size: 12px;
    margin-left: 5px;
}

.cont03 .swiper-pagination {
    position: absolute;
    height: 7px;
    bottom: 0;
}

.cont03 .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
}

.footer {
    width: 100%;
    height: 58px;
    background-color: #eee;
    text-align: center;
    line-height: 58px;
    font-size: 13px;
}

/* 화면의 크기가 641 이상일 때 레이아웃 변화 
미디어쿼리 사용*/
@media screen and (min-width:641px) {
    /* 실행코드 */
    #wrap {
        max-width: 100%;
    }
    .inner {
        max-width: 1280px;
    }
    .cont01 .list .item {
        width: calc(100% / 4 - 7px);
    }

} /* min 641 */